#mainscroll {
	position: fixed;
	width: 100%;
	height: 80vh;
	overflow-y: scroll;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-overflow-scrolling: touch;
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}
#maincontents {
	width: 90%;
	max-width: 1000px;
	left: 50%;
	position: relative;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Let's get this party started */
#mainscroll::-webkit-scrollbar {
    width: 12px;
    }
/* Track */
#mainscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    background: rgba(0,0,0,0.5); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-right: 5px;
}
/* Handle */
#mainscroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    cursor: pointer;
}